@import './../../../style/index.scss';

.art-worklist{

    background: #ffffff;
    
    &__item{
        display: flex;
        flex-direction: row;
        height: 109px;
        background: #ffffff;
        border-bottom: 1px solid #E7E7E7;

        &-img{
            width: 30%;

            &>div:nth-child(1){
                background: red;
                height: 90px;
                margin: 7px;
                border-radius: 10px;
            }
        }

        &-content{
            width: 70%;
            &>h3{
                padding: 10px 8px 0 10px;
            }

            &>div{
                padding: 10px 8px 0 10px;
            }
        }

        &-action{
            margin-right: 15px;
            color: #E87908 ;
        }
    }
}