@import './../../style/index.scss';

.art-cart{
  &__tips{
    height: 35px;
    line-height: 35px;
    background: #EBEBEB;
    text-align: center;
    width: 100%;

    &>span{
      display: block;
      float: left;
      width:33%;
      height:24px;
      font-size:12px;
      text-align: center;
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(102,102,102,1);
    }
  }

  &__empty{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 250px;
    text-align: center;
    background: url('http://art.laoliwuyou.com/icon/cartblank.png') 0% 0% / cover;
  }

  &__item{
    display: flex;
    flex-direction: row;
    height:65px;

    &-product{
       &>img{
         width: 100%;
         height: 100%;
         border-radius:8px;
       }
    }

    &>:nth-child(1){
        text-align: center;
        line-height:65px; 
        width:65px;
        border-radius:5px;
    }
    
    &>:nth-child(2){
       margin-left: 10px;

       &>div{
        width:106px;
        height:20px;
        font-size:12px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(153,153,153,1);
       }

       &>p{
        color: #C52125;
        width:92px;
        height:23px;
        font-size:13px;
        font-family:Adobe Heiti Std R;
        font-weight:normal;
        color:rgba(197,33,37,1);
        line-height:26px;
       }
    }

    &-caculater{
      float: right;
      width: 50%;
      text-align: right;
      color: #C52125;

      &>span{
        position: relative;
        margin-top: 10px;
        display: inline-block;
      }
    }

    &-count{
      display: flex;
      flex-direction: row;
      height: 70px;
      line-height: 70px;
      position: relative;
      top: -10px;

      &-add{
        margin: 0 auto;

        &>div{
          position: relative;
          top: 20px;
          text-align: center;
          background:rgba(246,246,246,1);
          line-height: 30px;
          width: 30px;
          height: 30px;
          border-radius: 3px;
          margin-right: 8px;
        }
      }

      &-input{
        &>input{
           width: 38px;
          border-radius: 5px;
          height: 30px;
          text-align: center;
          border:initial;
          border:1px solid #EBEBEB;
        }
      }

      &-sub{
        margin: 0 auto;

        &>div{
          position: relative;
          top: 20px;
          text-align: center;
          line-height: 30px;
          width: 30px;
          height: 30px;
          border-radius: 3px;
          margin-left: 8px;
          background:rgba(246,246,246,1);
        }
      }

      &-del{
       
      }

     
    }
  }

  &__total-price{
    height: 40px;
    text-align: right;
    font-size:13px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:40px;
    margin-right: 15px;

    &>i{
      color: #C52125;
    }
  }

  &__white-space{
    background: #F6F6F6;
    height: 15px;
  }

  &__footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    height:52px;
    background:#FFFFFF;
    border-top:1px solid rgba(225,225,225,1);
    display: flex;
    flex-direction: row;

    &>div:nth-child(1){
      width: 12%;
      line-height: 52px;
    }

    &>div:nth-child(2){
      width: 13%;
      text-align: left;
      line-height: 52px;
      font-size:15px;
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(68,68,68,1);
    }

    &>div:nth-child(3){
      width: 40%;
      font-size:15px;
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(197,33,37,1);
      line-height:52px;
      text-align: right;
      padding-right: 10px;
    }

    &>div:nth-child(4){
      width: 35%;
      background:rgb(232, 121, 8);
      line-height: 52px;
      color: #FFFFFF;
      font-size: 18px;
    }
  }
}