@import './../../../style/index.scss';

.art-product{
    background: #FFFFFF;

    &__detail{
        margin-top: 1.2rem;

        &>h4{
            font-size:15px;
            font-family:MicrosoftYaHei-Bold;
            font-weight:bold;
            padding-top: 16px;
            color:rgba(0,0,0,1);
            padding-left: 15px;
        }

        &>p{
            height:26px;
            font-size:13px;
            padding-left: 15px;
            padding-top: 11px;
            font-family:MicrosoftYaHei;
            font-weight:400;
            color:rgba(122,122,122,1);
        }

        &-font{
            &>:nth-child(-n+2){
                color: #C42125;
            }
            &>:nth-child(3){
                color: #C42125;
                font-size:26px;
                font-weight:400;
            }
            &>:nth-child(4){
                text-decoration: line-through;
            }
        }
    }
}