.container {
    position: relative;
    height: 900px;
    overflow:hidden；
}

.content {
    position: relative;
    margin: 0;
}
.content-item {
    height: 60px;
    line-height: 60px;
    font-size: 6px;
}
