.b-pulldown-wrapper, .b-pullup-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.15rem;
}
.before-trigger{
    font-size: 0.17rem !important;
}
.before-trigger>span{
    font-size: 0.17rem !important;
}
.after-trigger{
    font-size: 0.17rem !important;
}
.after-trigger>span{
    font-size: 0.17rem !important;
}
.container {
    height: 100%;
}
.wrapper{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.content {
    position: relative;
    margin: 0;
}
.content-item {
    height: 60px;
    line-height: 60px;
    font-size: 6px;
}

.backTop{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: fixed;
    text-align: center;
    right: 20px;
    bottom: 70px;
    z-index: 100000;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    background: rgb(232, 121, 8);
}

.backTop>p{
    height: 20px;
    font-size: 12px;
    width: 35px;
    text-align: center;
    margin: 2px;
    color: #FFFFFF;
}