.b-pulldown-wrapper, .b-pullup-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.15rem;
}
.before-trigger{
    font-size: 0.17rem !important;
}
.before-trigger>span{
    font-size: 0.17rem !important;
}
.after-trigger{
    font-size: 0.17rem !important;
}
.after-trigger>span{
    font-size: 0.17rem !important;
}
.container {
    height: 100%;
}
.wrapper{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.content {
    position: relative;
    margin: 0;
}
.content-item {
    height: 60px;
    line-height: 60px;
    font-size: 6px;
}
