.art-master {
  background: #FFFFFF;

  &__hot {
    margin: 0 12px 0px 12px;
  }
  &__hot-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__border {
    border-bottom: 1px solid #E7E7E7;
    width: 93%;
    margin: 0 auto;
    margin-bottom: 17px;
  }
}