@import './../../../style/index.scss';
.art-application{

    &__upload{
        background: $color-bg-color;
        @include flex(row);
        justify-content: center;
        align-items: center;
        &>h4{
            text-align: center;
        }
    }

    &__art-panel{
        height:100px !important;
    }

    &__upload-item{
        width: 50%;
        height: 106px;
    }

    &__upload-art-item{
        flex: 1;
        height: 106px;
    }

    &__upload-desc{
        text-align: center;
        color: $color-grey-6;
        @include subtitle;
    }
    
    &__form{
        margin-top: 10px;

        &-rule{
            margin: 13px;
            height: 140px;

            &>h3{
                color: $color-text-base;
                @include subtitle;
            }

            &>p{
                @include subtitle;
                color: $color-grey-6;
            }
        }
    }

    &__form-agree{
        text-align: center;
        height: 35px;
        line-height: 35px;
    }

    &__action{
        margin: 0 14px 0 14px;
    }
}

/*
.am-image-picker-list .am-image-picker-upload-btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1PX solid #ddd;
    background-color: #fff;
    border-radius: 50px;
    margin-left: 58px;
}

.am-image-picker-list .am-flexbox {
    margin-bottom: 6px;
    text-align: center;
}

.my-radio .am-radio {
    padding: 2.5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
}*/