@import './../../../style/index.scss';

.am-list-body {
    border-bottom: none;
    background: #ffffff;
}

.art-user-work{

    &__wrapper{
        width: 90px;
        height: 83px;
        border-radius: 5px;
        border: 1PX solid #ddd;
        margin-left: 19px;
        line-height: 100px;
    }
    &__upload{

        &-text{
            height: 25px;
            padding-left: 20px;
            color: #666666;
        }
    }
    &__upload-1{
        position: relative;
    }

    &__footer{
        height: 50px;
        line-height: 50px;
        margin: 12px;
    }

    &__uploadsuccess{
        width: 75px;
        height: 80px;
        position: relative;
        z-index: 1000;
        top: -130px;
        left: 20px;
        background: green;
        line-height: 80px;
    }

    &__uploadfile{
        width: 85px;
        height: 85px;
        border-radius: 5px;
        position: relative;
        right: 142px;
        border-radius: 0.03rem;
        border: 1PX solid #ddd;
        background-color: red;
        line-height: 80px;
        color: #fff;
        padding-left: 5px;
        text-align: center;
    }

    &__uploadfile-item{
        width: 85px;
        height: 85px;
        border-radius: 5px;
        position: relative;
        right: 45px;
        bottom: 85px;
        border-radius: 0.03rem;
        border: 1PX solid #ddd;
        background-color: gray;
        line-height: 80px;
        color: #fff;
        padding-left: 5px;
        text-align: center;
    }
    
    &__uploadlabel{
        position: relative;
        left: -140px;
        top: -70px;
        color: #666666;
    }

    &__uploadvideo{
        text-align: center;
        height: 110px;
    }
}

.am-list-item.am-input-item {
    height: 0.44rem;
    border-radius: 0.03rem;
    margin: 0.1rem;
}

.am-flexbox .am-flexbox-item {
    box-sizing: border-box;
    flex: 1 1;
    margin-left: 0.08rem;
    min-width: 0.8rem;
}

.am-image-picker-list {
    padding: 0.09rem 0.08rem 0 0.2rem;
    margin-bottom: 0.15rem;
}

.am-image-picker-list .am-flexbox {
    margin-bottom: 0.06rem;
    margin-right: 0.06rem;
}

.am-flexbox.am-flexbox-align-center {
    align-items: center;
    background: #ffffff;
}

.am-image-picker-list .am-flexbox .am-flexbox-item {
    position: relative;
    margin-right: 0.06rem;
    margin-left: 0;
}

.am-list-item .am-list-line .am-list-extra {
    color: #E87908;
}

.am-list-item.am-input-item {
    height: 0.44rem !important;
    border-radius: 0.03rem !important;
    padding-left: 0.03rem !important;
    margin: 0.1rem !important;
}