@import './../../style/index.scss';

.art-user{
  &__order{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #ddd;

    &>h3{
      width: 90%;
      height: 43px;
      line-height: 43px;
      margin-left: 14px;
      font-size:18px;
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(51,51,51,1);
      text-align:left;
    }
    &>div{
      width: 10%;
      text-align: right;
      padding-right: 15px;
      margin-top: 14px;
    }
  }


  &__space{
    width: 100%;
    height: 10px;
    background: #F4F4F4;
  }

  &__nav{

  }

  &__border{
    border-right: 1px solid #DFDFDF;
  }

  &__recomand{
    height: 50px;
    line-height: 50px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(50,50,50,1);
  }
}

.am-tabs-default-bar-tab-active {
  color: #D8D8D8;
  font-size:18px;
  font-family:MicrosoftYaHei-Bold;
  font-weight:bold;
  color:rgba(43,43,43,1);
}
.am-tabs-default-bar-underline {
  position: absolute;
  border: 0.01rem #E87908 solid;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.am-tabs-default-bar-tab {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 0.19rem;
  height: 0.435rem;
  line-height: 0.435rem;
}
.am-badge {
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  left: 10px;
  top: -46px;
}