@import './../../style/index.scss';

.art-user{
  background:$color-bg-color;

  &__order{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #ddd;

    &>h3{
      width: 90%;
      height: 43px;
      line-height: 43px;
      margin-left: 14px;
      font-size:18px;
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(51,51,51,1);
      text-align:left;
    }
    &>div{
      width: 10%;
      text-align: right;
      padding-right: 15px;
      margin-top: 14px;
    }
  }

  &__loader{
    height: 48px;
    line-height: 48px;
    width: 100%;
  }

  &__space{
    width: 100%;
    height: 10px;
    background: #F4F4F4;
  }

  &__nav{

  }

  &__border{
    border-right: 1px solid #DFDFDF;
  }

  &__recommend{
    margin: 0 12px 0px 12px;

    &-title{
      margin-top: 10px;
      height: 25px;
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #333333;
      letter-spacing: -0.13px;
      text-align: left;
    }

    &-content{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-item{
      width: 50%;

      &>p:nth-child(2){
        height: 20px;
        line-height: 20px;
        text-align: left;
        @include fontsize;
        margin: 3px 9px 3px 0px;
      }

      &>p:nth-child(3){
        text-align: left;
      }
    }

    &-img{
      height: 172px;
      background: red;
      border-radius: 3px;
    }

    &-money{
      @include fontsize;
      color: $color-warn;
    }

    &-marketprice{
      @include fontsize;
      font-size: 10px;
      text-decoration: line-through;
      color: #888888;
      display: inline-block;
      padding-left: 3px;
    }

    &-avatar{
      width: 20px;
      height: 20px;
      border-radius: 30px;
    }

    &-name{
      height: 20px;
      line-height: 20px;
      position: relative;
      bottom: 4px;
      right: 5px;
    }

    &-user{
      text-align: right;
      line-height: 30px;
      height: 30px;
    }
  }
}

.am-tabs-default-bar-tab-active {
  color: #D8D8D8;
  font-size:18px;
  font-family:MicrosoftYaHei-Bold;
  font-weight:bold;
  color:rgba(43,43,43,1);
}
.am-tabs-default-bar-underline {
  position: absolute;
  border: 0.01rem #E87908 solid;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.am-tabs-default-bar-tab {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 0.19rem;
  height: 0.435rem;
  line-height: 0.435rem;
}
.am-badge {
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  left: 10px;
  top: -46px;
}

.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}
