.art-order-detail{
    &__footer{
        display: flex;
        flex-direction: row;
        position: fixed;
        background: #FFFFFF;
        width: 100%;
        bottom: 0px;
        height: 52px;

        &>div:nth-child(1){
            width: 70%;
            line-height: 52px;
            font-size:18px;
            font-family:MicrosoftYaHei;
            font-weight:400;
            color:rgba(68,68,68,1);
            padding-left: 14px;

            &>span{
                color: #C52125;
            }
        }

        &>div:nth-child(2){
            width: 30%;
            background: #C52125;
            text-align: center;
            line-height: 52px;
            color: #FFFFFF;
            font-size: 14px;
        }
    }
}