@font-face {
    font-family: 'iconfont';  /* project id 1189441 */
    src: url('//at.alicdn.com/t/font_1189441_ua50bwtoiih.eot');
    src: url('//at.alicdn.com/t/font_1189441_ua50bwtoiih.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1189441_ua50bwtoiih.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1189441_ua50bwtoiih.woff') format('woff'),
    url('//at.alicdn.com/t/font_1189441_ua50bwtoiih.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1189441_ua50bwtoiih.svg#iconfont') format('svg');
}

.art-icon{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.art-icon-avatar:before {
    font-size: 96px;
    content: "\e668";
}