@font-face {
    font-family: 'iconfont';  /* project id 1189441 */
    src: url('//at.alicdn.com/t/font_1189441_h4domcmcm2.eot');
    src: url('//at.alicdn.com/t/font_1189441_h4domcmcm2.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1189441_h4domcmcm2.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1189441_h4domcmcm2.woff') format('woff'),
    url('//at.alicdn.com/t/font_1189441_h4domcmcm2.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1189441_h4domcmcm2.svg#iconfont') format('svg');
}

.art-icon{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.art-icon-check:before{
    font-size: 45px;
    font-weight: 100;
    color: #7DD6D0;
    content: "\e622"; 
}