.column-main {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E7E7E7;
  width: 100%;

  & > span {
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    color: #333333;
    letter-spacing: -0.13px;
    margin-top: 6px;
    text-align: left;
  }

  & > div {
    display: flex;
    padding-top: 5px;
    padding-bottom: 10px;

    & > div {
      flex: 1;
      height: 84px;
    }
  }
}