@import './../../../../style/index.scss';

.art-user{
  &__order-list{
    display: flex;
    flex-direction: row;
    
    &>div{
      flex:1;

      &>div:nth-child(1){
        margin-top: 13px;
      }
      &>div:nth-child(2){
        margin-top: 13px;
      }
      &>div:nth-child(3){
        margin-top: 13px;
      }
      &>div:nth-child(4){
        margin-top: 13px;
      }
      
      &>p{
        margin-top: 8px;
      }
    }
  }
}

.order-recevier{
  margin-top: 10px !important;
}
.order-recevier-label{
  margin-top: 3px !important;
}