@import './../../../style/index.scss';

.art-main{
  background:$color-bg-color;

  &__header{
    width:100%;
    height: 176px;
  }

  &__header-img{
    width:100%;
    height: 176px;
  }

  &__navitem{
    display:flex;
    flex-direction: row;
    height: 97px;
    border-bottom: 1px solid #E7E7E7;

     &>div{
       flex: 1;
       height: 97px;
     }
  }

  &__navitem-img{
    width: 50px;
    height: 50px;
  }

  &__navitem-img-wrapper{
    margin-top: 13px;
  }

  &__navitem-title{
    margin-top: 9px;
    margin-bottom: 9px;
    display: block;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
    letter-spacing: -0.09px;
  }

  &__banner{
    height: 86px;
    background: red;
    margin: 0 12px 10px 12px;
    border-radius: 4px;
  }

  &__space{
    height: 12px;
    background: $color-bg-home-color;
  }

  &__column{

    &>h2{
      margin: 8px 12px 7px 12px;
      text-align: left;
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #333333;
      letter-spacing: -0.13px;
    }

    &-content{
      width: 100%;
      height: 95px;
      padding: 0 12px 0 12px;
      display: flex;
      flex-direction: row;

      &-invent{
        flex: 1;
        background: #333333;
        height: 84px;
        border-radius: 4px;
      }

      &-recomand{
        flex: 1;
        background: #333333;
        height: 84px;
        width: 100%;
        border-radius: 4px;
      }
    }

    &-border{
      width: 93%;
      margin: 0 12px 0 12px;
      height: 2px;
      border-bottom: 1px solid #ddd;
    }
  }

  &__recommend{

    margin: 0 12px 0px 12px;

    &-title{
      margin-top: 10px;
      height: 25px;
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #333333;
      letter-spacing: -0.13px;
      text-align: left;
    }

    &-content{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-item{
      width: 50%;

      &>p:nth-child(2){
        height: 20px;
        line-height: 20px;
        text-align: left;
        @include fontsize;
        margin: 3px 9px 3px 0px;
      }

      &>p:nth-child(3){
        text-align: left;
      }
    }

    &-img{
      height: 172px;
      background: red;
      border-radius: 3px;
    }

    &-money{
      @include fontsize;
      color: $color-warn;
    }

    &-marketprice{
      @include fontsize;
      font-size: 10px;
      text-decoration: line-through;
      color: #888888;
      display: inline-block;
      padding-left: 3px;
    }

    &-avatar{
      width: 20px;
      height: 20px;
      border-radius: 30px;
    }

    &-name{
      height: 20px;
      line-height: 20px;
      position: relative;
      bottom: 4px;
      right: 5px;
    }

    &-user{
      text-align: right;
      line-height: 30px;
      height: 30px;
    }
  }

  &__search{
    position: fixed;
    top: 0px;
    z-index: 1000;
    height: 71px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    
    &-bg{
      background: $color-grey-0;
      opacity: 0.8;
    }

    &>div:nth-child(1){
      position: relative;
      top:5px;
      color: $color-bg-color;
      width: 25%;
    }

    &>div:nth-child(2){
      width: 65%;
      &>input{
        width: 256px;
        border-radius: 3px;
      }
    }
    &>div:nth-child(3){
      position: relative;
      top:5px;
      width: 20%;
    }
  }
}

.am-list-item.am-input-item {
  height: 0.44rem;
  border-radius: 3px;
  padding-left: 0.15rem;
}

.img-mrg-right{
  margin-right: 3px;
}

.img-mrg-left{
  margin-left: 3px;
}