.art-main {

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > div:nth-child(1) {
      width: 100%;
      height: 176px;
      background-color: #C30F22;
    }
    & > div:nth-child(2) {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 7px 14px 0px 14px;

      & > span {
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: -0.08px;
      }

      & > input {
        flex: 1;
        margin: 0px 24px 0px 24px;
        background-color: #FFFFFFFF;
        border-radius: 8px;
        height: 53px;
        font-family: PingFangSC-Regular;
        font-size: 11px;
        color: #b2FFFFFF;
        letter-spacing: -0.08px;
        text-align: center;
      }

      & > img {
        width: 17px;
        height: 17px;
        align-self: center;
      }
    }
  }

  &__navitem {
    height: 97px;
    width: 375px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #E7E7E7;

    & > div {
      flex: 1;
      height: 97px;
    }
  }

  &__special {
    padding: 11px 12px;
  }

  &__recomand {
    padding: 0 12px 10px 12px;
    width: 375px;
    height: 96px;

    & > img {
      width: 351px;
      height: 86px;
      border-radius: 3px;
    }
  }

  &__interval {
    width: 375px;
    height: 12px;
    background-color: #F3F3F3;
  }

  &__column {
    width: 351px;
    height: 131px;
    border-bottom: 1px solid #E7E7E7;
    margin: 6px 12px 11px 12px;
  }

  &__recommend {
    clear: both;
    margin: 7px 12px 0 12px;
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    color: #333333;
    letter-spacing: -0.13px;
    text-align: left;
    height: 25px;
    line-height: 25px
  }

  &____recommendProduct {
    & > div {
      display: flex;
      flex-direction: row;
      width: 375px;
      & > div {
        flex: 1;
        margin-left: 2.5px;
        margin-right: 2.5px;
      }
    }
  }

}