@import './../../../style/index.scss';

.sticky-list .sticky-container .am-list-item { padding-left: 0; }
.sticky-list .sticky-container .am-list-line { padding-right: 0; }
.sticky-list .sticky-container .am-list-line .am-list-content { padding-top: 0; padding-bottom: 0; }
.sticky-list .sticky-container .sticky { padding: 7px 15px; transform: none; }

.art-main{
  background:$color-bg-color;

  &__header{
    width:100%;
    height: 176px;
  }

  &__backTop{
    z-index: 1000;
    width: 100%;
    height: 50px;
    background: red;
    margin-top: 200px;
  }

  &__loader{
    height: 48px;
    line-height: 48px;
    width: 100%;
  }

  &__header-img{
    width:100%;
    height: 176px;
  }

  &__navitem{
    display:flex;
    flex-direction: row;
    height: 97px;
    border-bottom: 1px solid #E7E7E7;

     &>div{
       flex: 1;
       height: 97px;
     }
  }

  &__navitem-img{
    width: 50px;
    height: 50px;
  }

  &__navitem-img-wrapper{
    margin-top: 13px;
    text-align: center;
  }

  &__navitem-title{
    margin-top: 9px;
    margin-bottom: 9px;
    display: block;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
    letter-spacing: -0.09px;
    text-align: center;
  }

  &__banner{
    height: 86px;
    background: red;
    margin: 0 12px 10px 12px;
    border-radius: 4px;
  }

 

  &__recommend{
    margin: 0 12px 0px 12px;
    
    &-title{
      margin-top: 10px;
      height: 25px;
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #333333;
      letter-spacing: -0.13px;
      text-align: left;
    } 

    &-content{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-item{
      width: 50%;

      &>p:nth-child(2){
        height: 20px;
        text-align: center;
        line-height: 20px;
        text-align: left;
        @include fontsize;
        margin: 3px 9px 3px 0px;
      }

      &>p:nth-child(3){
        text-align: left;
      }
    }

    &-img{
      height: 172px;
      background: red;
      border-radius: 3px;
    }

    &-money{
      @include fontsize;
      color: $color-warn;
    }

    &-marketprice{
      @include fontsize;
      font-size: 10px;
      text-decoration: line-through;
      color: #888888;
      display: inline-block;
      padding-left: 3px;
    }

    &-avatar{
      width: 20px;
      height: 20px;
      border-radius: 30px;
    }

    &-name{
      height: 20px;
      line-height: 20px;
      position: relative;
      bottom: 4px;
      right: 5px;
    }

    &-user{
      text-align: right;
      line-height: 30px;
      height: 30px;
    }
  }

  &__search{
    position: fixed;
    top: 0px;
    z-index: 1000;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    
    &-bg{
      background: $color-bg-color;
      color: #888888;
    }

    &>div:nth-child(1){
      position: relative;
      top:5px;
      width: 25%;
    }

    &-input{
      width: 256px;
      border-radius: 3px;
      opacity: 0.53;
      background: #FFFFFF;
      border-radius: 8px;
      height: 36px;
      line-height: 36px;
      border: none;
      text-align: center;

      &-bg{
        background: $color-grey-4;
        opacity: 0.53;
      }
    }

    &-address{
       color: $color-bg-color; 
       &-bg{
         color: #333333;
       }
    }

    &>div:nth-child(2){
      width: 65%;
    }

    &>div:nth-child(3){
      position: relative;
      top:5px;
      width: 20%;
    }
  }
}

.am-list-item.am-input-item {
  height: 0.44rem;
  border-radius: 3px;
  padding-left: 0.15rem;
}

.img-mrg-right{
  margin-right: 4px;
}

.img-mrg-left{
  margin-left: 4px;
}


.backTop{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: fixed;
  text-align: center;
  right: 20px;
  bottom: 70px;
  z-index: 100000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  background: rgb(232, 121, 8);
}

.backTop>p{
  height: 20px;
  font-size: 12px;
  width: 35px;
  text-align: center;
  margin: 2px;
  color: #FFFFFF;
}