@import './../../../style/index.scss';

.art-modifyInfo {
  background: $color-bg-color;

  &__avatar {
    display: flex;
    flex-direction: column;

    & > h6 {
      padding-left: 0.15rem;
      height: 30px;
      line-height: 30px;
      color: #000;
      font-size: 0.16rem;
    }

  }

}